div {
  width: 300px;
  height: 300px;
  background: url(img1.jpg) no-repeat center center;
  background-size: cover;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  width: 60%;
}

output {
  width: 5%;
  text-align: center;
}

select {
  width: 40%;
  margin-left: 2px;
}
