.linear {
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.radial {
  width: 100%;
  height: 100px;
  background: radial-gradient(red, yellow, rgb(30, 144, 255));
}

.linear-repeat {
  width: 100%;
  height: 100px;
  background: repeating-linear-gradient(
    to top left,
    lightpink,
    lightpink 5px,
    /* 0px ~ 5px */ white 5px,
    /* 5px 부터 흰색으로 변경 시작 */ white 10px /* 흰색을  ~ 10px */
  );
  transform: scale(0.5);
  transform-origin: 0 0;
}

.radial-repeat {
  width: 100%;
  height: 300px;
  background: repeating-radial-gradient(
    powderblue,
    powderblue 8px,
    white 8px,
    white 16px
  );
}

.conic {
  width: 100%;
  height: 100px;
  background: conic-gradient(red, yellow, green);
}

.linear-gradient {
  --deg: -45deg;
  height: 100px;
  background-image: linear-gradient(abs(var(--deg)), red, green);
}
