@media screen and (min-width: 768px) {
  body {
    background-color: #3dc0e4;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
}

/*
speech
print
all

not
only
,(comma)
*/
