.scroller {
  height: 500px;
  width: 500px;
  padding: 0;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #653939;
}

.scroller section {
  scroll-snap-align: start;
}

section {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #dfdc84;
}
