html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    height: 100vh;
    width: 100vw;
    min-width: 0;
}

/* flexbox container */
.container {
    background: beige;
    height: 100vh;
    width: 100vw;
    display: flex; /* (1) make it a flex container */
    /* (2) flex-direction and flex-wrap */
    /* flex-flow: row wrap;  */

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */

    /* [ 중심축에서 아이템들을 어떻게 배치할 것이지 결정 ] */

    /* 아이템을 왼쪽으로 정렬, 기본 값 */
    /* justify-content: flex-start; */
    /* 아이템들을 동일하게 나누어 진 마진의 크기로 스페이싱 함. */
    /* justify-content: space-around; */

    /* 아이템들을 동일한 크기로 스페이싱 함. 좌우에는 간격 없음. */
    /* justify-content: space-between; */

    /* 아이템들을 오른쪽으로 정렬 */
    /* justify-content: flex-end; */

    /* 아이템들을 가운데로 정렬 */
    /* justify-content: center; */

    /* 아이템들을 동일한 간격으로 스페이싱 함, 좌우 및 사이간격 모두 동일 */
    /* justify-content: space-evenly; */

    /* [ 반대축에서 아이템들을 어떻게 배치할 것이지에 대한 설정 ] */

    /* 수직 방향 중앙 정렬 */
    /* align-items: center; */

    /* 수직 방향 하단 정렬 */
    /* align-items: flex-end; */

    /* 수직 방향 상단 정렬 */
    /* align-items: flex-start; */
    /* align-items: stretch; */
    /* align-items: space-around; */
    /* align-items: space-evenly; */
    /* align-items: space-between; */

    /* 아이템 의 텍스트를 기준으로 동일 선상에 정렬함.(패딩이 다른 아이템이 있을 때 유용) */
    /* align-items: baseline; */

    /* [ 반대 축에서 정렬 방법 중, 중심축이 wrap 으로 설정된 상에서 정렬  (vs justify-content) ] */
    /* 래핑된 모든 아이템 모든 라인들이 중심에 정렬 */

    /* align-content: center; */ /* vs align-items: center; 는 래핑된 각 라인이 모두 같은 간격으로 중심에 정렬 되는 차이가 있음. */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
}

/* flex item  */
.item {
    color: #333;
    width: 50px;
    height: 50px;
    border: 2px solid darkgray;
}

.item1 {
    background: #ef9a9a;
    /* flex-grow: 2;
    flex-shrink: 2; */
    flex-basis: 60%;
    /* padding: 30px; */
    /* order: 2; */
    align-self: center; /* 아이템별로 정렬을 다르게 할 수 있음. */
}

.item2 {
    background: #90caf9;
    /* flex-grow: 1;
    flex-shrink: 1; */
    flex-basis: 25%;
    align-self: flex-end;
    /* order: 3; */
}

.item3 {
    background: #a5d6a7;
    /* flex-grow: 1;
    flex-shrink: 1; */
    flex-basis: 15%;
    align-self: flex-start;
    /* order: 1; */
}

.item4 {
    background: #fff59d;
}

.item5 {
    background: #ffcc80;
}

.item6 {
    background: #b39ddb;
}

.item7 {
    background: #80cbc4;
}

.item8 {
    background: #f48fb1;
}

.item9 {
    background: #b0bec5;
}

.item10 {
    background: #c5e1a5;
}
