body {
  margin: 0;
  background-color: #2e3537;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Arial", sans-serif;
  font-size: 5em;
  color: white;
}

span:before {
  content: "";
  animation: changeWord 5s infinite;
}

@keyframes changeWord {
  0% {
    content: "World";
  }
  50% {
    content: "Fine Thanks";
  }
  75% {
    content: "How are you?";
  }
  100% {
    content: "Nice to meet you";
  }
}
