.container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 80px auto;
  width: 1000px;
  height: 150px;
  overflow: hidden;
  background: #efefef;
}
.container ul {
  position: absolute;
  display: flex;

  width: max-content;
  animation: aniScroll 15s linear infinite;
  /* 2번째 <ul> 태그에 애니메이션 넣기 */
  &.list2 {
    animation: aniScroll-2 15s linear infinite;
  }
}
.container li {
  list-style: none;
  width: 75px;
  height: 75px;
  align-content: center;
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  &.red {
    background: #eb4343;
  }
  &.orange {
    background: #ff8d14;
  }
  &.yellow {
    background: #ebb30e;
  }
  &.green {
    background: #578957;
  }
  &.blue {
    background: #3b94c9;
  }
  &.navy {
    background: #47478f;
  }
  &.violet {
    background: #a14fa1;
  }
}
/* 0%에서 -100%으로 이동하는 애니메이션 */
@keyframes aniScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 100%에서 0%으로 이동하는 애니메이션 */
@keyframes aniScroll-2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
