html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  position: absolute;
  top: calc(60px * var(--index));
  width: 100px;
  height: 30px;
  background-color: #f00;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}
/*
타이밍 함수
ease: 빠르게 시작해서 느리게 끝남
ease-in: 느리게 시작해서 빠르게 끝남
ease-out: 빠르게 시작해서 느리게 끝남
ease-in-out: 느리게 시작해서 빠르게 끝남
linear: 일정한 속도로 진행
cubic-bezier(n1, n2, n3, n4): 사용자 정의 타이밍 함수 (0 ~ 1)
steps(n): n개의 단계로 나누어 애니메이션

*/
.hloader {
  --hloader-color: #e96900;
  --hloader-size: 80px;
  --hloader-weight: 8px;
  --hloader-duration: 1s;
  width: var(--hloader-size);
  height: var(--hloader-size);
  color: var(--hloader-color);
  border: var(--hloader-weight) solid;
  border-top-color: transparent;
  border-radius: 50%;
  animation: hloader var(--hloader-duration) infinite linear;
  display: fixed;
  left: 0;
  top: 0;
}
@keyframes hloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.item:nth-child(8) {
  animation-name: item8;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: runnint;
}
.item:nth-child(8):hover {
  animation-play-state: paused;
}
@keyframes item8 {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(200px);
  }
}
.item:nth-child(7):hover {
  animation-name: item7;
  animation-duration: 3s;
  animation-delay: 1s;
}
@keyframes item7 {
  0% {
    transform: translateX(-200px) rotate(180deg);
  }
  70% {
    transform: translateX(200px) rotate(360deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.item:nth-child(6):hover {
  animation-name: item6;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes item6 {
  0% {
    width: 100px;
  }
  50% {
    width: 500px;
  }
  100% {
    width: 100px;
  }
}

.item:nth-child(5):hover {
  animation-name: item5;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
@keyframes item5 {
  0% {
    width: 100px;
  }
  50% {
    width: 500px;
  }
  100% {
    width: 100px;
  }
}

.item:nth-child(4):hover {
  animation-name: item4;
  animation-duration: 3s;
  animation-timing-function: steps(8);
}
@keyframes item4 {
  0% {
    width: 100px;
  }
  50% {
    width: 500px;
  }
  100% {
    width: 100px;
  }
}

.item:nth-child(3):hover {
  animation-name: item3;
  animation-duration: 3s;
  animation-timing-function: ease;
}
@keyframes item3 {
  0% {
    width: 100px;
  }
  50% {
    width: 500px;
  }
  100% {
    width: 100px;
  }
}

.item:nth-child(2):hover {
  animation-name: item2;
  animation-duration: 5s;
}

@keyframes item2 {
  0% {
    width: 100px;
  }
  50% {
    width: 400px;
    background-color: skyblue;
  }
  100% {
    width: 100px;
  }
}
.item:nth-child(1):hover {
  animation-name: item1;
  animation-duration: 5s;
  animation-delay: 0.5s;
}

@keyframes item1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
