body {
  margin: 0;
  padding: 20px;
  background-color: #2e3537;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  justify-content: first baseline;
  align-items: first baseline;
  height: 100vh;
  width: 100vw;
}

.text-first-line {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}
.text-first-line span {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 5em;
  color: white;
  width: 100%;
  display: flex;
  animation: animate 5s infinite;
  animation-delay: calc(0.05s * var(--delay));
}

.text-second-line {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.text-second-line span {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 5em;
  color: white;
  width: 100%;
  animation: animate 5s infinite;
  animation-delay: calc(0.05s * var(--delay));
}
@keyframes animate {
  0%,
  80% {
    transform: rotateX(-360deg);
  }
}
