:root {
  --box-size: 50px;
  --animation-duration: 5s;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--box-size) * 10));
  }
}

.container-boxs {
  width: 100%;
  height: var(--box-size);
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.box {
  position: absolute;
  width: var(--box-size);
  height: var(--box-size);
  top: 0;
  animation-name: moveLeft;
  animation-duration: var(--animation-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.box1 {
  background-color: purple;
  left: calc(var(--box-size) * 0);
}
.box2 {
  background-color: rgb(240, 228, 7);
  left: calc(var(--box-size) * 1);
}
.box3 {
  background-color: rgb(7, 155, 240);
  left: calc(var(--box-size) * 2);
}
.box4 {
  background-color: rgb(255, 99, 71);
  left: calc(var(--box-size) * 3);
}
.box5 {
  background-color: rgb(60, 179, 113);
  left: calc(var(--box-size) * 4);
}
.box6 {
  background-color: rgb(255, 165, 0);
  left: calc(var(--box-size) * 5);
}
.box7 {
  background-color: rgb(138, 43, 226);
  left: calc(var(--box-size) * 6);
}
.box8 {
  background-color: rgb(0, 191, 255);
  left: calc(var(--box-size) * 7);
}
.box9 {
  background-color: rgb(255, 20, 147);
  left: calc(var(--box-size) * 8);
}
.box10 {
  background-color: rgb(34, 139, 34);
  left: calc(var(--box-size) * 9);
}

html,
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
