* {
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

main {
  border: 1px solid #000;
  padding: 0;
}
.container main nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0;
}

nav span a {
  text-decoration: none;
  color: #f9f5f5;
  color: rgb(18, 126, 169);
  padding: 0.5rem 1rem;
  overflow-x: visible;
  text-wrap: none;
  border-radius: 0.25rem;

  &:hover {
    background-color: darkmagenta;
    color: #f9f5f5;
  }
}
span.seperator {
  height: 1rem;
  width: 1px;
  background-color: #453d3d;
  padding: 0;
}
.divider {
  background-color: #584e4e;
  height: 1px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.main-image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  background: url('backgroun-lake.png') no-repeat center center/cover;
  margin-bottom: 3rem;
  opacity: 0.8;
}
.infomation section {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #033039b0;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #272121b0;
  margin-bottom: 1rem;
}
section ul li {
  list-style: circle;
  padding: 1rem 0;
}
dection div p {
  margin-left: 1rem;
}
