* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
  margin: 50px 0 0 50px;
  border-left: 6px solid red;
}

div p {
  font-size: 24px;
  color: #575c60;
  margin: 0;
  padding: 0 0 0 16px;
  line-height: 1.5;
}
