@use 'base';

div.container {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template:
    'header' 80px
    'main' 1fr
    'footer' 150px
    / 1fr;
}

header {
  grid-area: header;
  background-color: darkcyan;
}

main {
  grid-area: main;
  background-color: lightblue;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: rgb(159, 9, 124);
  color: lightblue;
}

hr {
  border: 2px dashed gray;
  margin: 1rem 0;
}

ul {
  list-style-type: circle;
  margin: 1rem;
}
button {
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: darkcyan;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
}
