* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* box-sizing: border-box; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: first baseline;
  min-height: 30vh;
  padding: 20px;
}

/* #first ~ span {
  color: red;
}

.container li {
  color: green;
} */

.container ul {
  color: green;
}

.box {
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(4, 75, 97);
  border: 1px solid black;
  border-radius: 10px;
}
.box::after {
  content: '';
}
div.box::before {
  content: '';
}

.menu li {
  float: left;
  margin: 20px;
}

.menu li::after {
  content: '|';
  padding-left: 20px;
}

.menu li:last-child::after {
  content: '';
}

.sb ul li::before {
  content: '>';
  padding-right: 10px;
}
.sb ul li::after {
  content: '===';
  padding-left: 10px;
}
div.box {
  float: left;
  overflow: auto;
}
span.text {
  clear: both;
  color: rgb(15, 145, 196);
}
