:root {
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --body-font-size: 1.6rem;
}

h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
p {
  font-size: var(--body-font-size);
}

/* 화면 폭이 500픽셀 이상 까지 만 적용, 즉 최저 사이즈 */
@media (min-width: 500px) {
  body {
    color: red;
  }
}
