body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
}

section:nth-of-type(1) {
  background-color: #3f9ebc;
}

section:nth-of-type(2) {
  background-color: #f7b744;
}

section:nth-of-type(3) {
  background-color: #8ecae6;
}

section:nth-of-type(4) {
  background-color: #f1853b;
}

section:nth-of-type(5) {
  background-color: #79c8b0;
}

.section-heading {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #2e3537;
  box-shadow: 0 0 3px black;
  z-index: 999;
  padding: 5px 15px;
}

.section-heading h2 {
  margin: 5px 0;
  color: white;
}

.section-content {
  padding: 3rem;
  height: 93.7vh;
}
